@import 'https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Slab|Lobster|Original+Surfer|Raleway:400,800';
body {
	font-family: 'Josefin Slab', serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
	background-color: #FFDAD6;
	background-image: url("../images/header_image_note.png"); 
	background-repeat: no-repeat;
	background-position: center top;
	 width: 100%;
	 height: auto;	
}
div.slogan {
	font-style: italic;
}
h1 {color: #CCAEAB; text-align: center;	
}
h2, h3 {color: #7F4A45; text-align: center;	
	font-family: 'Indie Flower', cursive;
}
p {color: #7F4A45; text-align: center;	
}
ul {
	text-align: center;
	list-style-type: none;
	color: #7F4A45;
}
table#t01 {
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	padding-top: 140px;
	width: 100%;	
}
div.indiethbackground {
	background-color: #7F6D6B;
}
tr#tr01 {
	background-color: none;
}
th#th01{
	color: #FF9589;
	text-align: center;
}
table#t02 {
	width: 100%;
	font-family: 'Josefin Slab', serif;
}
td#td02{
	width: 300px;
}
a {
	color: #7F6D6B;
}